<div class="contact-page">
  <div class="contact-card">
    <h2>📩 Contactez-moi</h2>
    <p>Vous avez une question ou une opportunité ? N'hésitez pas à me laisser un message !</p>

    <div class="contact-details">
      <p>📧 <a href="mailto:monemail@example.com">Nejjarihanae2003&#64;icloud.com</a></p>
      <p>📞 <a href="tel:+33612345678">+33 7 83 03 73 17</a></p>
      <p>🔗 <a href="https://www.linkedin.com/in/hanae-nejjari-ba065927a/" target="_blank">LinkedIn</a></p>
    </div>

    <form (submit)="onSubmit()">
      <div class="input-group">
        <input type="text" id="name" [(ngModel)]="name" placeholder="Votre nom" required>
      </div>
      <div class="input-group">
        <input type="email" id="email" [(ngModel)]="email" placeholder="Votre email" required>
      </div>
      <div class="input-group">
        <textarea id="message" [(ngModel)]="message" placeholder="Votre message" required></textarea>
      </div>
      <button type="submit">Envoyer ✉️</button>
    </form>
  </div>
</div>

