<div class = about-page>
<div class="about-container mat-elevation-z3">
  <mat-card class="about-card">
    <mat-card-title>✨ Mon identité professionnelle</mat-card-title>
    <mat-card-content>

      <section>
        <h2>💡 Mes valeurs</h2>
        <p>
          Dans ma pratique d’experte en ingénierie du logiciel, je défends la rigueur, la responsabilité et la conscience professionnelle. J’accorde une importance particulière à l’écoute, l’empathie
          et la collaboration. J’aspire à produire un travail utile, accessible et durable, en gardant toujours en tête l’impact humain de chaque ligne de code.
        </p>
        <p>
          Être développeuse ou consultante, c’est aussi incarner un rôle de facilitatrice. Je m’efforce de créer un climat de confiance avec les équipes et les clients, pour construire des
          solutions réellement pertinentes, avec éthique et transparence.
        </p>
      </section>

      <section>
        <h2>🚀 Mon projet professionnel</h2>
        <p>
          Après deux années en alternance comme consultante SAP technico-fonctionnelle, j’ai trouvé ma voie. J’aime cette posture hybride qui mêle compréhension fonctionnelle
          et implémentation technique. À moyen terme, je souhaite approfondir mes compétences SAP et continuer dans le conseil, avec pour objectif de devenir une consultante complète,
          autonome et reconnue.
        </p>
        <p>
          À long terme, j’envisage une évolution naturelle vers un rôle de senior, tout en gardant une approche humaine et responsable de mon métier.
        </p>
      </section>

      <section>
        <h2>🌱 Mes qualités humaines</h2>
        <p>
          Empathique, motivée, toujours de bonne humeur, j’aime créer un cadre de travail bienveillant. On me reconnaît pour ma capacité à apprendre rapidement,
          à prendre mes responsabilités et à encourager ceux qui m’entourent.
        </p>
        <p>
          Ces qualités m’ont été précieuses en entreprise, notamment lors des périodes de forte pression ou d’adaptation. Elles me permettent de travailler efficacement en équipe
          et de relever les défis avec confiance.
        </p>
      </section>

      <section>
        <h2>🎨 Centres d’intérêt</h2>
        <p>
          Voyager, lire, faire du sport ou passer du temps en famille sont autant de moyens pour moi de retrouver de l’énergie et de la clarté. Ces temps de pause
          m’aident à revenir au travail plus efficace, plus lucide et toujours engagée.
        </p>
        <p>
          Chaque passion nourrit ma posture professionnelle : le voyage m’ouvre l’esprit, la lecture me pousse à la nuance, le sport m’apprend la persévérance.
        </p>
      </section>

    </mat-card-content>
  </mat-card>
</div>
</div>
